{% extends "bootstrap_ui/bootstrap-skeleton.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}


{% block head-title %}
    CTA Cursos
{% endblock %}

{% block body-content %}

    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
            <a class="navbar-brand" href="#">CTA Cursos</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if not user.is_authenticated %}
                <li>
                    <a href="{% url 'login'%}">{% trans 'Login' %}</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'logout'%}">{% trans 'Logout' %}</a>
                </li>

            {% endif %}
            
        </ul>
        </div>


        </div>
    </nav>
    <!-- Code from: http://bootsnipp.com/snippets/Zkezz!-->
    {% if user.is_authenticated %}
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <aside id="sidebar">
                <ul id="sidemenu" class="sidebar-nav">
                    <li>
                        <a href="{% url 'home' %}">
                            <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
                            <span class="sidebar-title">Início</span>
                        </a>
                    </li>
                    <li>
                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-3">
                            <span class="sidebar-icon"><i class="fa fa-newspaper-o"></i></span>
                            <span class="sidebar-title">Cursos</span>
                            <b class="caret"></b>
                        </a>
                        <ul id="submenu-3" class="panel-collapse collapse panel-switch" role="menu">
                            <li><a href="{% url 'create_course' %}"><i class="fa fa-caret-right"></i>Criar novo Curso</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Ver Cursos</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-2">
                            <span class="sidebar-icon"><i class="fa fa-users"></i></span>
                            <span class="sidebar-title">Alunos</span>
                            <b class="caret"></b>
                        </a>
                        <ul id="submenu-2" class="panel-collapse collapse panel-switch" role="menu">
                            <li><a href="#"><i class="fa fa-caret-right"></i>Users</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Roles</a></li>
                        </ul>
                    </li>
                </ul>
            </aside>            
        </div>
    </div> 
    {% endif %}

    <div class="content container">
        <div id="messages">
            {% block messages %}
            {% for message in messages %}
              <div class="alert alert-dismissable {{ message.tags }}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
              </div>
            {% endfor %}
            {% endblock %}
        </div>
        {% block content %}
        {% endblock %}
    </div>

{% endblock %}